src/suuid/dtd/suuid.dtd

<!-- $Id$ -->
<!-- File ID: c0065660-1029-11de-97a2-000475e441b9 -->

<!ELEMENT suuids (suuid+)>
  <!ELEMENT suuid (tag*,txt?,host,cwd,user,tty)>
  <!ATTLIST suuid t CDATA #REQUIRED>
  <!ATTLIST suuid u CDATA #REQUIRED>
    <!ELEMENT tag (#PCDATA)>
    <!ELEMENT txt ANY>
    <!ELEMENT host (#PCDATA)>
    <!ELEMENT cwd (#PCDATA)>
    <!ELEMENT user (#PCDATA)>
    <!ELEMENT tty (#PCDATA)>
